version: '3.8'

services:
  app:
    build: .
    ports:
      - "8088:8088"
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=yourdb
    ports:
      - "5432:5432"
