<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в систему</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="login-body">
    <div class="login-container">
        <h2>Вход в систему</h2>
        <form action="/web/login" method="post">
            <div class="input-group">
                <label for="username">Имя пользователя</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required>
            </div>
            <input type="submit" value="Войти">
        </form>
    </div>
</body>
</html>
